body {
    margin: 0;
    padding: 0;
}

#bg {
    width: 400px;
    height: auto;
    background-color: rgb(96, 178, 233);
    padding: 10px;
}

#bg__main {
    width: auto;
    height: auto;
    background-color: rgb(173, 207, 231);
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}

#bg__main >h1 {
    color: rgb(5, 116, 57);
}

td > hr {
    width: 40px;
}
